name: CI

on:
  push:
    branches: [main, next]
  pull_request:
    branches: [main, next]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Lint check
        run: bun run check:lint

      - name: Type check
        run: bun run check:types

      - name: Build
        run: bun run build

      - name: Tests
        run: bun run test
