name: ci

on:
  push:
    branches: [main, next]
  pull_request:
    branches: [main, next]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup.yml

      - name: Type check
        run: bun run typecheck

      - name: Build
        run: bun run build
